# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Distribution / Build
build/
dist/
*.egg-info/
.eggs/

# SQLite
*.db
*.sqlite3
app.db

# --- Node / Frontend ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
